<div class="container">
  <div class="py-5 text-center">
    <h2>Checkout</h2>
  </div>

  <div class="row">
    <div class="col-md-8 order-md-2 mb-8">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted"><%= link_to 'Products', products_path %></span>
        <span class="badge badge-secondary badge-pill"><%= @products.size %></span>
      </h4>
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">
                <%= link_to product.product_name + ' - ' + product.product_id, product_path(product) %>
              </div>
              <div class="card-body">

                <p class="card-text">£<%= product.product_price %></p>
                <%= button_to '+', {:controller => "checkout", :action => "create", :product_id => product.product_id, :product_name=> product.product_name, :product_price=> product.product_price} , :method=>:post, class: 'btn btn-lg btn-block btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart -
          <%= link_to 'Empty cart', checkout_empty_cart_path %></span>
        <span class="badge badge-secondary badge-pill"><%= @total_quantity %></span>
      </h4>
      <ul class="list-group mb-3">
        <% @carts.each do |cart| %>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0"><%= cart['product_name'] %></h6>
              <small class="text-muted">Pid:
                <%= cart['product_id'] %>
                - Qty:
                <%= cart['quantity'] %>
                - Prc:
                <%= cart['product_price'] %></small>
            </div>
            <span class="text-muted">£<%= cart['product_price'] %></span>
          </li>
        <% end %>

        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">Promo</h6>
          </div>
          <span class="text-success">-£{tu_tu_tinh_di_choi_da}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <strong>£<%= @total_price %></strong>
        </li>
      </ul>
    </div>

  </div>

</div>
