<div class="container">
  <div class="py-5 text-center">
    <h2>Products - <%= link_to 'Checkout', checkout_index_path %></h2>
  </div>

  <div class="row">
    <div class="col-md-12 order-md-2 mb-12">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Products -
          <%= link_to 'New product', new_product_path %></span>
        <span class="badge badge-secondary badge-pill"><%= @products.size %></span>
      </h4>
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-header">
                <%= link_to product.product_name + ' - ' + product.product_id, product_path(product) %>
              </div>
              <div class="card-body">

                <p class="card-text">£<%= product.product_price %></p>
                <%= button_to 'Add to cart', {:controller => "checkout", :action => "create", :product_id => product.product_id, :product_name=> product.product_name, :product_price=> product.product_price} , :method=>:post, class: 'btn btn-lg btn-block btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
