<div class="container">
  <div class="py-5 text-center">
    <h2><%= link_to 'All products', products_path %>
      - New product</h2>

  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Newest products</span>
      </h4>
      <ul class="list-group mb-3">
        <% @products.each do |product| %>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0"><%= product.product_name %></h6>
              <small class="text-muted">Pid:
                <%= product.product_id %></small>
            </div>
            <span class="text-muted">£<%= product.product_price %></span>
          </li>
        <% end %>

      </ul>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">New product</h4>
      <%= form_with scope: :product, url: products_path, local: true do |form| %>
      <div class="mb-3">
        <label for="product_id">Product ID</label>
        <input type="text_field" class="form-control" name="product[product_id]">
      </div>
      <div class="mb-3">
        <label for="product_name">Product name</label>
        <input type="text_field" class="form-control" name="product[product_name]">
      </div>
      <div class="mb-3">
        <label for="product_price">Product price</label>
        <input type="text_field" class="form-control" name="product[product_price]">
      </div>
      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" name="commit" type="submit">Add new product</button>

    <% end %>
  </div>
</div>
</div>
