<div class="container">
  <div class="py-5 text-center">
    <h2><%= link_to 'All products', products_path %>
      - Details</h2>
  </div>
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal"><%= @product.product_id %>
        -
        <%= @product.product_name %></h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">£<%= @product.product_price %>
      </h1>
      <%= button_to 'Delete', {:controller => "products", :action => "destroy", :id => @product.id, :product_id => @product.product_id} , :method=>:delete, class: 'btn btn-lg btn-block btn-danger' %>

    </div>
  </div>
</div>
